<h4 class="ui center aligned medium icon header">
  <i class="circular red coffee icon"></i>
  Coffee Chat Friends
</h4>

<div class="ui two column grid">
  <div class="ui twelve wide column">
    <div class="ui fluid raised card chatbox">
      <div class="content">
        <table class="ui celled table">
          <thead>
            <tr><th>Username</th>
              <th>Sent messages</th>
            </tr>
            </thead>
            <tbody>
              <% @users.each do |user| %>
                <tr>
                  <td data-label="Username"><i user icon></i> <%= user.username %></td>
                  <td data-label="Messages"><%= user.messages.count %></td>
                </tr>
              <% end %>
            </tbody>
        </table>
      </div>
    </div>
  </div>


<div class="four wide column">
  <div class="ui fluid raised card chatbox">
    <div class="content">
    <div class="ui inverted vertical menu">
      <%= link_to "Home", root_path, class: "item" %>
      <%= link_to "Chatrooms", chatrooms_path, class: "item" %>
        <div class=" active item">
           Friends
        </div>
      </div>
    </div>
 </div>
</div>
