<h3 class="ui header center aligned">Sign up to Coffee-Chat - <span style="font-style:italic">
   and join the conversation</span></h3>

<h4 class="ui center aligned medium icon header">
  <i class="circular red comments tiny icon"></i>
</h4>

<%= render 'form', user: @user %>
