<h1 class="ui center aligned header">
  Welcome to Coffee Chat
</h1>

<h2 class="ui center aligned icon header">
  <i class="circular red coffee icon"></i>
  You can see the rooms or chat members in the navigation bar<br />
  if you want to interact, you just have to sign up
</h2>
