<h1 class="ui center aligned header">
  Welcome to Coffee Chat
</h1>

<h2 class="ui center aligned icon header">
  <i class="circular red coffee icon"></i>
  You can preview the rooms and chat members from the navigation bar.<br />
  If you want to interact, just login or signup.
</h2>
