<%= link_to '<i class="circular red coffee icon large inverted"></i>'.html_safe, root_path %>
  <%= link_to "Chatroom", root_path, class: "item" %>
  <a class="item">
    Messages
  </a>
  <div class="right menu">

    <div class="item">
    <a href="#">Logout</a>
    </div>

  </div>
